
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 24px;
}
h1{
    font-size: 24px;
    color: rgb(20, 139, 93); 
}
body{
    background-color:rgb(20, 139, 93) ;
    font-family: arial, helvetica,sans-serif;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
}
.Textlabel{
    margin:10px;
    margin-bottom:5px;
    Font-weight: bold;
    color:rgb(20, 139, 93);
}
.campotexto{
    padding:12px;
    border:1px solid rgb(20, 139, 93);
    border-radius: 20px;
    outline: none;
    transition:0.3s;
}
.campotext:focus{
    border-color:rgb(20, 139, 93);
    box-shadow: 0 5px 5px rgb(20, 139, 93);
}
.form{
    background-color: #7bc787;
    width: 350px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(10, 80, 21, 0.733);
    display: flex;
    flex-direction: column;
}
#tituloform{
    text-align:center;
    margin-bottom: 5px;
    font-weight: bold;
    color:rgba(12, 49, 32, 0.836);
}
#Bnenviar{
    margin-top: 20px;
    padding: 12px;
    border: none;
    background-color: rgba(12, 49, 32, 0.836);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size:16px;
    transition: 0.3s;
}
#Bnenviar:hover{
    background-color: rgba(94, 218, 160, 0.836);
}
body{
    margin: 0;  
    height: 100vh;
    display: flex;  
    justify-content: center;    
    align-items: center;    
    background: linear-gradient(to bottom, #2bb673, #00d4aa);
}

